.ui.statistic + .ui.statistic {
    margin: 10px;
}

.dashboard-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .statistics-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;

    .statistic {
      padding: 20px;
      width: 200px;
      border-radius: 10px;
      margin: 10px;
      border: 1px solid $font-color;
      color: $font-color;
      @include box-shadow(2px, 2px, 1px, $font-color);
    }
  }
}
