.form-section-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  height: 100%;
  overflow-y: auto;

  .form-section-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark-grey;
    padding: 20px;
    line-height: $title-font-size * 1.5;
    font-size: $title-font-size;
    font-weight: $semi-bold;
  }

  .form-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    font-size: $table-font-size;

    .form {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      max-width: 620px;

      @media screen and (max-width: $mobile-width) {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
      }

      .field {
        width: 280px;

        &-error {
          width: 100%;
          color: $errorColor;
          margin-top: -13px;

          &.date {
            margin-top: 3px;
          }
        }
      }

      .field-table {
        width: 100%;
        min-width: 450px;

        @media screen and (max-width: $mobile-width) {
          min-width: 280px;
        }

        .table-section-wrapper {
          margin: 0;
          padding: 0;

          .table-wrapper {
            margin: 0;
            padding: 0;
          }
        }
      }

      .DayPickerInput, .input {
        min-width: 280px;
      }
    }

    label {
      color: $font-color !important;
    }

    .form-label {
      color: $font-color;
      display: block;
      margin: 0 0 .28571429rem 0;
      font-size: .92857143em;
      font-weight: 700;
      text-transform: none;
    }

    .form-link {
      @include table-button($font-color, $white, 5px, 5px, 10px)
    }
  }

  .form-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;

    .form-add-button {
      @include button($white, $primary-color, 10px, 10px)
    }

    .form-cancel-button {

    }
  }
}
