.scrolling.dimmable.dimmed > .dimmer {
  overflow: hidden;
}

.modal {
  padding-top: 40px;

  &.ui.fullscreen {
    width: 95% !important;
    left: auto !important;
    overflow: hidden;
    height: 95%;

    &.scrolling.modal{
      @extend .fullscreen
    }

    & .content {
      display: flex;
      align-items: center;
      overflow: hidden;
      overflow-y: auto;
      height: 100%;
    }
  }
}
