.sidebar-wrapper {
  // position: fixed;
  overflow-y: auto;
  height: 100%; //calc(100% - $header-height);
  left: 0;
  bottom: 0;
  width: 280px;
  background: $light-grey;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: $mobile-width) {
    // width: 100%;
    width: 280px;
    // min-width: auto;
    // max-width: 280px;
    position: fixed;
    z-index: 1000;
    opacity: 0.9;
  }

  .sidebar-input-wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
