/* Variables */
$orange: #ff9800;
$white: #fff;
$black: #000;
$errorColor: #e12013;
$success: #38b24f;
$dark-red: #ca0000;
$google-red: #db4437;
$dark-grey: #443f3f;
$light-grey: #efefef;
$grey: #cecece;
$dark-grey: #5D5C61;
$transparent: transparent;
$grey: #818a91;

$primary-color: $orange;
$secondary-color: $grey;
$tertiary-color: #4caf50;
$font-color: $dark-grey;
$background-color: $white;
