@import './colors';
@import './borders';
@import './margins';
@import './fonts';
@import './assets';
@import './dimensions';
@import './utils';

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $default-font-size;
  font-weight: $normal;
  background: $background-color;
  width: 100%;
  height: 100%;
  color: $font-color;
  overflow: hidden;
  display: flex;  /*enables flex content for its children*/
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

.index-container {
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  height: calc(100% - #{$header-height});
}

// COMPONENTS
@import './components/loader.scss';
@import './components/notification.scss';
@import './components/buttons.scss';
@import './components/icons.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './components/modals.scss';
@import './components/sidebar.scss';
@import './components/dashboard.scss';
@import './components/table.scss';
@import './components/form.scss';
