.sidebar-wrapper {
  // position: fixed;
  overflow-y: auto;
  height: 100%; //calc(100% - $header-height);
  left: 0;
  bottom: 0;
  width: 280px;
  background: $secondary-color;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: $mobile-width) {
    // width: 100%;
    width: 280px;
    // min-width: auto;
    // max-width: 280px;
    position: fixed;
    z-index: 1000;
    opacity: 0.9;
  }

  .sidebar-copyright {
    width: 100%;
    color: $white;
    font-size: 13px;
    word-wrap: break-word;
    padding: 14px;

    a {
      color: $white;

    }
  }

  .sidebar-link {
    width: 100%;
    color: $white;
    font-size: 16px;
    word-wrap: break-word;
    padding: 14px;
    border-bottom: 1px solid $white;

    &:hover {
      background: $white;
      color: $secondary-color;
      transition: $transition;
    }
  }
}
